
<div class="card">
<div class="cardbody">
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis autem quod soluta quae sit ullam. Eligendi debitis dolore deleniti veritatis, vero maiores maxime sint. Vero rerum cumque doloremque, accusamus necessitatibus cupiditate dolore 
atque ea deserunt dolores dolor doloribus harum facilis.</p>
</div>
</div>
